:local {
  .home {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .title {
      color: blue;
      margin: 20px;
    }

    .content {
      margin: 20px;
      display: flex;
      flex-direction: row;
    }
  }
}
